* {
  box-sizing: border-box;
}
body {
  background-color: rgb(22, 22, 22);
  color: rgb(241, 241, 241);
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}
/* div {
  margin: 10px;
} */
h1 {
  font-size: 180%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  border-radius: 5px;
  color: black;
  background-color: rgb(255, 129, 11);
  margin: 10px;
  text-align: center;
  padding: 10px 70px;
}
h4 {
  background-color: rgb(255, 129, 11);
  font-size: 130%;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  /* border: 0px solid white; */
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  /* height: fit-content; */
  text-align: center;
  /* border-width: 0px 0px 1px 0px; */
  margin: 25px 0px 5px 0px;
}
img {
  /* margin: 0px 0px 0px 30px; */
  width: 342px;
  /* margin: 0px auto; */
}
.main_content {
  text-align: justify;
  padding: 10px;
}
li {
  list-style: none;
  position: relative;
}
a:active,
a:hover,
a:focus {
  color: rgba(100, 148, 237, 0.626);
}
ul {
  position: relative;
  left: -40px;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
#box1 {
  padding: 15px;
}
  #img1 {
    float: right;
    padding: 0px 10px 0px 40px;
    /* width: 30%; */
  }
  #top {
    height: 400px;
  }
  .box2 {
    float: left;
    width: 65%;
    padding: 10px;
    position: relative;
  }
  .box3 {
    background-color: rgba(240, 255, 255, 0.802);
    /* height: max-content; */
  }
  #links {
    width: 35%;
  }
  #pt1 {
    float: left;
    position: relative;
    left: 10px;
  }
  #pt2 {
    float: left;
    position: absolute;
    right: 5px;
  }
